@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&family=Oswald:wght@200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');
/*---------------------------Colours-------------------------- */

body {
    overflow-x: hidden;
    width: 100%;
}

.nav-link:hover {
    color: white;
}

.nav-logo:hover {
    opacity: 0.6;
}

.social-link:hover {
    color: white;
}

.navbar {
    background-color: rgba(155, 155, 155, 0.9);
    position: fixed;
}

#navbar-background {
    background-color: rgba(155, 155, 155, 1);
    min-height: 100%;
    min-width: 110%;
    z-index: -2;
    display: none;
    position: absolute;
    margin-left: -4vw;
}

@media only screen and (max-width: 700px) {
    #contactboy {
        flex-direction: column;
    }
    #contactcontainer {
        order: 1;
    }
    #reachcontainer {
        order: 2;
    }
    #addresscontainer {
        order: 3;
    }
}

footer {
    background-color: rgba(155, 155, 155, 0.6);
}

.basefooter a {
    color: black;
}

/*---------------------------Heading-------------------------- */

.navbar {
    overflow: hidden;
    min-height: 7em;
    min-width: 100%;
    top: 0;
    position: fixed;
    display: inline-flex;
    z-index: 1;
}

.navbar-nav {
    justify-content: right;
}

.nav-link {
    font-family: 'Oswald', sans-serif;
    font-size: 2em;
    color: black;
    display: flex;
    z-index: 1;
}

.nav-logo img {
    display: fixed;
    width: 100%;
}

.navbar-toggler {
    position: relative;
    display: block;
}

.navbar-toggler[aria-expanded="true"]~#navbar-background {
    display: block;
}

@media only screen and (max-width: 700px) {
    .navbar {
        min-height: 2vh;
    }
    .navbar-toggler {
        right: 45%;
        padding-bottom: 1em;
    }
}

/*-----------------------Footer--------------------- */

.basefooter {
    text-align: center;
    font-family: 'Jost', sans-serif;
    font-size: 1.8vh;
    height: auto;
    padding: 1em;
    overflow: hidden;
    display: block;
}

.membership {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.members1 {
    margin-top: -1em;
}

.social-link {
    position: relative;
    display: inline-block;
    font-size: 1.8em;
    padding: 0% 5% 0% 5%;
}

/*-----------------------Index Hero Section--------------------- */

.heroimage {
    display: none;
    max-width: 100vw;
    max-height: auto;
    position: relative;
    right: 0;
    bottom: 0;
    z-index: -2;
}

.herovideo {
    position: relative;
    z-index: -1;
    right: 0;
    bottom: 0;
    display: block;
    overflow: hidden;
}

@media only screen and (max-width: 992px) {
    .hero-video {
        display: none;
    }
    .heroimage {
        display: block;
    }
    .taproomhours .table {
        width: 90%;
        position: relative;
    }
}

@media (min-aspect-ratio: 16/9) {
    #herovideo {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    #herovideo {
        width: auto;
        height: 100%;
    }
}

/*-----------------------Latest Releases--------------------- */

.releases.title {
    position: relative;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin-top: 1%;
}

.release-items {
    position: relative;
    display: flex;
    height: 70vh;
    width: auto;
    overflow: auto;
    margin: auto;
}

.beer1 {
    height: 100%;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: -1;
}

.beer2 {
    height: 100%;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: -1;
}

.beer3 {
    height: 100%;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: -1;
}

/*-----------------------Hover Effect--------------------- */

/*All credit to https://miketricking.github.io/bootstrap-image-hover/  Used Hover Effect 13*/

.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    position: relative;
    text-align: center;
    cursor: default;
}

.hovereffect .overlay {
    position: absolute;
    overflow: hidden;
    width: 80%;
    height: auto;
    left: 10%;
    top: 10%;
    bottom: 10%;
    border-bottom: 1px solid #FFF;
    border-top: 1px solid #FFF;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.15s, transform 0.15s;
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    transform: scale(0, 1);
}

.hovereffect:hover .overlay {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.hovereffect img {
    display: block;
    position: relative;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
}

.hovereffect:hover img {
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
    filter: brightness(0.6);
    -webkit-filter: brightness(0.6);
}

.hovereffect h2 {
    text-transform: uppercase;
    font-family: 'Jost', sans-serif;
    text-align: center;
    position: relative;
    font-size: 20px;
    background-color: transparent;
    color: #FFF;
    margin-top: 10%;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
}

.hovereffect p {
    font-family: 'Jost', sans-serif;
    color: #FFF;
    opacity: 0;
    filter: alpha(opacity=0);
    margin-left: 3vw;
    margin-right: 3vw;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

.hovereffect:hover p, .hovereffect:hover h2 {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

/*-----------------------Index Taproom--------------------- */

.taproomhours {
    overflow: hidden;
    display: flex;
    margin-top: 10vw;
}

.taproominfo {
    margin-left: 10vw;
    margin-right: auto;
    position: relative;
    width: auto;
    justify-content: center;
}

.taproomtitle {
    position: relative;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    text-transform: uppercase;
    margin-top: 2vw;
    margin-bottom: 4vh;
    width: 30vw;
}

.table {
    text-align: center;
}

.taproomhours table {
    width: 30vw;
    position: relative;
}

.dogphoto {
    margin-bottom: 10vw;
    margin-right: 10vw;
    margin-left: 2vw;
    height: auto;
}

.dog {
    width: 40vw;
}

@media only screen and (max-width: 992px) {
    .dogphoto {
        display: none;
    }
    .taproominfo {
        margin-left: 15vw;
        margin-right: 15vw;
    }
    .taproomhours table {
        min-width: 70vw;
        margin-bottom: 5em;
    }
    .taproomtitle {
        min-width: 70vw;
    }
}

/*-----------------------taproom.html Body--------------------- */

.taproombody {
    margin-top: 9em;
    margin-bottom: 10vh;
    display: flex;
    flex-direction: row;
    text-transform: Uppercase;
}

.taproombody h1 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.taplist table {
    font-family: 'Jost', sans-serif;
    width: 30vw;
    margin-left: 2.5vw;
    height: 50vh;
}

.taplist h1 {
    margin-left: 2em;
}

iframe {
    width: 30vw;
    height: 50vh;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
}

.hours table {
    width: 30vw;
    height: 50vh;
    text-align: center;
    margin-top: 6vh;
    font-family: 'Jost', sans-serif;
    margin-right: 2.5vw;
}

@media only screen and (max-width: 1640px) {
    .taplist table {
        width: 30vw;
        margin-left: 1vw;
    }
    iframe {
        width: 32vw;
        margin-left: 1vw;
        margin-right: 1vw;
    }
    .hours table {
        width: 30vw;
        margin-right: 1vw;
    }
}

@media only screen and (max-width: 1490px) {
    iframe {
        width: 30vw;
    }
}

@media only screen and (max-width: 1423px) {
    .taproombody {
        flex-direction: column;
        align-items: center;
    }
    .taplist {
        margin-bottom: 5vh;
        text-align: center;
    }
    .taplist h1 {
        margin-left: 5vw;
        margin-right: 5vw;
    }
    .taplist table {
        margin-left: 5vw;
        justify-content: center;
        margin-right: 5vw;
        width: 90vw;
    }
    .location {
        margin-bottom: 5vh;
    }
    iframe {
        margin-left: 5vw;
        justify-content: center;
        margin-right: 5vw;
        width: 90vw;
        height: 80vh;
    }
    .hours table {
        margin-left: 5vw;
        justify-content: center;
        margin-right: 5vw;
        width: 90vw;
    }
}

@media only screen and (max-width: 500px) {
    .taplist {
        overflow-x: auto;
        width: 80vw;
    }
}

/*-----------------------beers.html Body--------------------- */

#beersbody-desktop, #beersbody-mobile {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#beersbody-mobile {
    display: none;
}

.headtext {
    margin-top: 15vh;
    width: 35vw;
    border: 1px solid black;
    display: inline-block;
    padding: 2em;
    margin-left: auto;
    margin-right: auto;
}

#palesection, #darksection, #soursection {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.style-title {
    display: flex;
    justify-content: center;
    text-decoration: underline;
    margin-top: 1em;
    margin-bottom: 1em;
    font-family: 'Jost', sans-serif;
    text-transform: Uppercase;
}

#soursection {
    margin-bottom: 4em;
}


#darksection {
    width: auto;
    
    min-width: 1060px;

    
}
.card {
    margin-left: 2em;
    margin-right: 2em;
}

.btn {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(155, 155, 155, .5)
}

.btn-primary {
    background-color: white;
    border: 0px;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.btn-link {
    text-decoration: underline;
    font-family: 'Jost', sans-serif;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
}

.btn-link:hover {
    color: grey;
}

.btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(155, 155, 155, 1)
}

.btn-primary:hover {
    background-color: rgba(155, 155, 155, .5)
}

.card-section {
    border: 0px solid;
    background-color: white;
}

.card-header {
    background-color: white;
    border: 0px;
}

@media only screen and (max-width: 1300px) {
    #darksection {
    flex-wrap: wrap;
    
    }
    #darksection .card {
    margin-bottom: 2em;
    }
}

@media only screen and (max-width: 900px) {
    #beersbody-desktop {
        display: none;
    }
    #beersbody-mobile {
        display: flex;
    }
    #palesection, #darksection, #soursection {
        flex-direction: column;
    }

    .card {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2em;
    }
    .headtext {
        width: 90vw;
    }
    .card1 {
        flex: 1 0 200px
    }

    .card2 {
        flex: 1 0 200px
    }

    .card3 {
        flex: 1 0 200px
    }
    .card4 {
        flex: 1 0 200px
    }
    .card5 {
        flex: 1 0 200px
    }
}

@media only screen and (max-width: 500px) {
    .headtext {
        margin-top: 25vh;
    }
}

/*--------------events.html--------------------- */

.initialtext {
    margin-top: 20vh;
    width: 30em;
    border: 1px solid black;
    display: block;
    padding: 2em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto', sans-serif;
}

.event-link {
    color: black;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    text-decoration: underline;
}

.event-link:hover {
    color: white;
}

/* credit to https://www.w3schools.com/howto/howto_css_timeline.asp for the timeline */

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: black;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* Container around content */

.date {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */

.date::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -0.75em;
    background-color: white;
    border: 4px solid black;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container to the left */

.left {
    left: 0;
}

/* Place the container to the right */

.right {
    left: 50%;
}

/* Add arrows to the left container (pointing right) */

.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent rgba(155, 155, 155, 0.6);
}

/* Add arrows to the right container (pointing left) */

.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid rgba(155, 155, 155, 0.6);
    border-width: 10px 10px 10px 0;
    border-color: transparent rgba(155, 155, 155, 0.6) transparent transparent;
}

/* Fix the circle for containers on the right side */

.right::after {
    left: -0.75em;
}

/* The actual content */

.event {
    padding: 20px 30px;
    background-color: rgba(155, 155, 155, 0.6);
    position: relative;
    border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */

@media screen and (max-width: 600px) {
    /* Place the timelime to the left */
    .timeline::after {
        left: 31px;
    }
    /* Full-width containers */
    .date {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }
    /* Make sure that all arrows are pointing leftwards */
    .date::before {
        left: 60px;
        border: medium rgba(155, 155, 155, 0.6);
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }
    /* Make sure all circles are at the same spot */
    .left::after, .right::after {
        left: 1.1em;
    }
    /* Make all right containers behave like the left ones */
    .right {
        left: 0%;
    }
    .initialtext {
        margin-top: 35vh;
        width: 20em;
    }
}

/*-----------------------Contact.html--------------------- */

#contactbody {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#addresscontainer {
    border: solid 3px #474544;
    margin-top: 20em;
    margin-bottom: 20em;
    position: relative;
    width: 20vw;
}

#reachcontainer {
    border: solid 3px #474544;
    margin-top: 20em;
    margin-bottom: 20em;
    position: relative;
    width: 20vw;
}

#contactbody h5, p {
    text-align: center;
}

/* --Taken from https://codepen.io/dfitzy/pen/VepqMq --*/

button {
    overflow: visible;
}

button, select {
    text-transform: none;
}

input, select, textarea {
    color: #5A5A5A;
    font: inherit;
    margin: 0;
}

input {
    line-height: normal;
}

textarea {
    overflow: auto;
}

#contactcontainer {
    border: solid 3px #474544;
    width: 40vw;
    position: relative;
    margin-top: 10em;
    margin-bottom: 2em;
    margin-left: 5em;
    margin-right: 5em;
}

form {
    padding: 37.5px;
}

.con-title {
    color: #474544;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 7px;
    padding-top: 1em;
    text-align: center;
    text-transform: uppercase;
}

.email {
    float: right;
    width: 45%;
}

input[type='text'], [type='email'], select, textarea {
    background: none;
    border: none;
    border-bottom: solid 2px #474544;
    color: #474544;
    font-size: 1.000em;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0em 0 1.875em 0;
    padding: 0 0 0.875em 0;
    text-transform: uppercase;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

input[type='text']:focus, [type='email']:focus, textarea:focus {
    outline: none;
    padding: 0 0 0.875em 0;
}

.message {
    float: none;
}

.name {
    float: left;
    width: 45%;
}

select {
    background: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png') no-repeat right;
    outline: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

select::-ms-expand {
    display: none;
}

textarea {
    line-height: 150%;
    height: 150px;
    resize: none;
    width: 100%;
}

::-webkit-input-placeholder {
    color: #474544;
}

:-moz-placeholder {
    color: #474544;
    opacity: 1;
}

::-moz-placeholder {
    color: #474544;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #474544;
}

#form_button {
    background: none;
    border: solid 2px #474544;
    color: #474544;
    cursor: pointer;
    display: inline-block;
    font-family: 'Helvetica', Arial, sans-serif;
    font-size: 0.875em;
    font-weight: bold;
    outline: none;
    padding: 20px 35px;
    text-transform: uppercase;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#form_button:hover {
    background: #474544;
    color: #F2F3EB;
}

@media screen and (max-width: 420px) {
    .con-title {
        font-size: 18px;
    }
    .icon {
        height: 35px;
        width: 35px;
    }
    .underline {
        width: 53px;
    }
    input[type='text'], [type='email'], select, textarea {
        font-size: 0.875em;
    }
    form {
        padding: 20px;
    }
}

@media only screen and (max-width: 1200px) {
    #contactbody {
        flex-direction: column;
        justify-content: center;
    }
    #contactcontainer {
        order: 1;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 4vh;
        width: 90vw;
    }
    #reachcontainer {
        order: 2;
        margin-top: 1vh;
        margin-bottom: 1vh;
        margin-left: auto;
        margin-right: auto;
        width: 90vw;
    }
    #addresscontainer {
        order: 3;
        margin-top: 4vh;
        margin-bottom: 5vh;
        margin-left: auto;
        margin-right: auto;
        width: 90vw;
        padding: 10px;
    }
}